/* fonts */

@font-face {
  font-family: "PublicaSansRegular";   /*Can be any text*/
  src: local("PublicaSansRegular"),
    url("./fonts/Publica Sans/FaceType - PublicaSans-Regular.otf") format("opentype");
  font-weight: regular;
}

@font-face {
  font-family: "PublicaSansBold";   /*Can be any text*/
  src: local("PublicaSansBold"),
    url("./fonts/Publica Sans/PublicaSans-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
  font-family: "PublicaSansLight";   /*Can be any text*/
  src: local("PublicaSansLight"),
    url("./fonts/Publica Sans/PublicaSans-Light.otf") format("opentype");
    font-weight: light;
}

@font-face {
  font-family: "PublicaSansMedium";   /*Can be any text*/
  src: local("PublicaSansMedium"),
    url("./fonts/Publica Sans/PublicaSans-Medium.otf") format("opentype");
  font-weight: medium;
}

@font-face {
  font-family: "PublicaSansThin";   /*Can be any text*/
  src: local("PublicaSansThin"),
    url("./fonts/Publica Sans/PublicaSans-Thin.otf") format("opentype");
  font-weight: thin;
}

/* body styling */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "PublicaSansLight", sans-serif;
  font-size: 16px;
}

/* navbar styling */



.nav {
  background-color: rgb(250, 238, 255);
  color: black;
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 200px 1fr 200px;
  width: 100vw;
  box-shadow: black 3px 3px 3px 3px;
  z-index: 0;
  position: sticky;
  -webkit-position: sticky;
  top: 0;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.nav li.active {
  /* background-color: rgb(167, 131, 78); */
}

.nav li:hover {
  /* background-color: burlywood; */
}

.authentication {
  float: right;
}

/* dashboard styling */

.dashboard-grid-container {
  display: grid;
  grid-template-columns: 280px 1fr 1fr 1fr;
  grid-template-rows: 190px 5fr 4fr;
  grid-template-areas:
    "sidebar banner banner banner"
    "sidebar main main main"
    "sidebar main main main";
  grid-gap: 15px;
  height: 150vh;
  margin-top: 15px;
}

@media only screen and (max-width: 550px) {
  .dashboard-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.2 3fr 3fr; */
    /* grid-template-areas: */
    height: 100vh;
  }
}

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  height: calc(100vh - 80px - 15px - 15px);
  position: sticky;
  -webkit-position: sticky;
  top: calc(80px + 15px);
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  display: grid;

  grid-gap: 8px;
  padding: 8px 16px;
  /* margin-top: 8px; */
  border-radius: 10px;
}

.sidebar-list-item:hover {
  background-color: grey;
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: black;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /* z-index: 12 !important; */
}

#dashboard-banner {
  grid-area: banner;
  width: 100%;
  height: 100%;
  background-color: #D8AEED;
  border-radius: 10px;
}

/* button styling */

button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  border: none;
  padding: 0.5rem 1.25rem;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 10px;
  /* box-shadow: 0 0 2px 1px rgba(0,0,0,0.3); */
  font-family: "PublicaSansRegular", sans-serif;
  /* margin: 18px 0px; */
}

button.purple {
  background-color: #D8AEED;
  color: white;
}

button.transparent {
  background-color: Transparent;
  border:  1px solid rgba(0,0,0,0.15);
}

/* hero styling */
.hero {
  align-items: center;
}

.container {
  max-width: 1300px;
  display: flex;
  flex-direction: vertical;
}